@inject IJSRuntime JS

<div class="known-devices-list">
    @if (_devices.Count == 0)
    {
        <div class="known-device-empty starjedi-title">none</div>
    }
    else
    {
        <MudList T="string" Dense="true" Class="known-list">
            @foreach (var d in _devices)
            {
                var device = d;
                <MudListItem T="string"
                             Disabled="Disabled"
                             Class="known-device-item"
                             OnClick="@(async _ => await OnConnect.InvokeAsync(device))">
                    <div class="known-device-content">
                        <MudChip T="string"
                                 Size="Size.Small"
                                 Variant="Variant.Outlined"
                                 Color="Color.Primary"
                                 Class="known-device-chip">
                            @d.type.ToLowerInvariant()
                        </MudChip>
                        <span class="known-device-name">@d.name.ToLowerInvariant()</span>
                    </div>
                </MudListItem>
            }
        </MudList>
    }
</div>
